In [ ]:
!pip install pgmpy
!pip install bnlearn

In [ ]:
import numpy as np
import pandas as pd
from pgmpy.models import BayesianNetwork
from pgmpy.inference import VariableElimination

In [ ]:
title = "age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target"

title = title.split(",")

data_train = pd.read_csv(r"/content/drive/MyDrive/AAI docs/heart-data-discretized-train.csv", names=title)
#data_test = pd.read_csv(r"/content/drive/MyDrive/AAI docs/stroke-data-discretized-test.csv", names=title)

In [ ]:
model = BayesianNetwork([('target','thalach'),('target','trestbps'), ('target','cp'),('target','thal'),('target','exang'),('target','ca'),('target','slope'),('target','restecg'),('target','chol'),('target','age'),
                       ('fbs','ca'),('fbs','exang'),('fbs','age'),
                       ('age','trestbps'),('age','exang'),
                       ('chol','trestbps'),('chol','slope'),('chol','sex'),('chol','restecg'),
                       ('restecg','age'),('restecg','slope'),('restecg','sex'),
                       ('sex','exang'),
                       ('slope','age'),('slope','cp'),('slope','oldpeak'),('slope','sex'),
                       ('thal','fbs'),('thal','age'),
                       ('oldpeak','ca'),('oldpeak','trestbps'),
                       ('cp','trestbps'),
                       ('thalach','slope'), ('thalach','ca'), ('thalach','thal'), ('thalach','exang'),('thalach','oldpeak'),('thalach','trestbps')])

In [ ]:
model.fit(data_train)

In [ ]:
data_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1,2,1,0,1,0,0,1,3,0,0,2,2,3,0
2,2,1,0,2,0,1,0,3,1,2,0,0,3,0
3,4,1,0,2,0,0,1,2,1,2,0,0,3,0
4,3,1,0,2,0,0,1,3,0,0,2,1,3,0

In [ ]:
inference = VariableElimination(model)

In [ ]:
x = inference.query(variables = ['target'], evidence = {'sex': '0', 'cp': '3'})

In [ ]:
print(x)